<div class="jumbotron">
    <h1>Assignments</h1>
    <p><a href="https://docs.google.com/a/cetys.edu.mx/document/d/1rEaqUZkO0HaAuU01GjEn2PYm6Y6eavX5DoNpFAxRVs4/edit?usp=sharing" target="_blank">
        <b>Assignment #1</b></a></p>
    <p><a href="/#!/a2">
        <b>Assignment #2</b></a></p>
    <p><a href="/#!/a3">
        <b>Assignment #3</b></a></p>
    <p><a href="/#!/a4">
        <b>Assignment #4 - #5</b></a></p>
    <p><a href="https://drive.google.com/a/cetys.edu.mx/file/d/0B8FxxW5mLpUWbHY3a18tX2ZBekE/view?usp=sharing" target="_blank">
        <b>Cloud Environment Setup</b></a></p>
    <p><a href="https://drive.google.com/a/cetys.edu.mx/file/d/0B8FxxW5mLpUWLVZnQWxYMUpnb2c/view?usp=sharing" target="_blank">
        <b>Website Deployment</b></a></p>
</div>